html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

.overflow-hidden { overflow: hidden; }

.h-100 { height: 100%; }
.w-100 { width: 100%; }

.mx-5 { margin: 0 5px; }
.mx-10 { margin: 0 10px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}

.py-5 {padding: 5px 0;}
.py-10 {padding: 10px 0;}

.pointer { cursor: pointer; }

.p-relative { position: relative; }
.p-absolute { position: absolute; }

.text-right {
    text-align: right;
}


.table-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    .search-box {
        margin-bottom: 8px;
        padding: 8px;
        .el-form-item {
            margin-bottom: 0px;
        }
    }
    .table-box {
        flex: 1;
        height: 0;
        overflow: hidden;
    }
    .paging-box {
        margin-top: 8px;
        padding: 5px 0;
    }
    .search-box, .paging-box {
        text-align: right;
    }
    .search-box, .paging-box, .table-box {
        background-color: #fff;
        border-radius: 4px;
    }
}

// mini输入框的padding该小
.el-input--mini .el-input__inner {
    padding: 0 8px;
}

.d-flex {
    display: flex;
    flex-grow: 1;
    .flex-0 {
        flex: 0;
    }
    .flex-1 {
        flex: 1;
    }
}

.float-right {
    float: right;
}

.el-dialog__header {
    padding: 15px 20px 10px 20px;
}
.el-dialog__body {
    padding: 10px 20px 20px 20px;
}
// .wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;height:100%;}
// .header,.footer{height:40px;line-height:40px;background-color:#D8D8D8;text-align:center;}
// .main{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:100%;}